body {
  font-family: 'Roboto', sans-serif;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 2em;
} 

.border-right {
  border-right: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px) {
  .indent {
    padding-left: 2em;
  }
}

.pop {
  font-size: 5em;
}

.job {
  margin: 0;
}
